<!DOCTYPE html>
<html>
<head>
<style>
.container {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
}

img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}
</style>
</head>
<body>

<div class="container">
  <img src="https://s-media-cache-ak0.pinimg.com/originals/25/b3/54/25b35485de2b0f9e355df4b669652041.jpg" alt="Norway" width="1000" height="300">
  <div class="center">Enjoy! The mushroom is safe to eat!</div>
</div>

</body>
</html>
